{% extends "_layout.twig" %}

{% block content %}
{% for blok in entry.newContent %}


{% if blok.type.handle == 'newTextImage' %}
    {% set blokImg = blok.newimage.one() %}

    <section class="blokContainer">
        {% if blok.showtitle == true %}
            <h1 class="gallery-title">{{blok.title}}</h1>
        {% endif %}

        <div class="textImage">
            {% if blok.imageposition == 'left' %}
                <div class="left">
                    <img class="blokImg" src="{{blokImg.url}}" alt="{{blok.title}}">
                </div>
                <div class="right">
                    <p class="blokText">{{blok.newtext}}</p>
                </div>
                {% else %}
                <div class="left">
                    <p class="blokText">{{blok.newtext}}</p>
                </div>
                <div class="right">
                    <img class="blokImg" src="{{blokImg.url}}" alt="{{blok.title}}">
                </div>
            {% endif %}
            
        </div>
    </section>
{% endif %}
{% if blok.type.handle == 'newform' %}
    <section class="intro">
        <h1 class="intro-header">{{blok.title}}</h1>
        <p class="intro-text">{{blok.aboutdescription}}</p>
    </section>
    <section class="blokContainer">
        {{ craft.formie.renderForm(blok.formname.one()) }}
    </section>
{% endif %}

{% if blok.type.handle == 'newproductblock' %}

    <section class="gallery">
        <h1 class="gallery-title">{{blok.title}}</h1>
        <div class="cards-wrapper">
            {% for sticker in blok.stickercard %}
                {% include '_snippets/_stickerCard.twig' %}
            {% endfor %}
        </div>
    </section>
{% endif %}








{% endfor %}
{% endblock %}