<header class="navbar">
    <div class="navbar-logo">
        <img class="logo-img" src="{{sitelogo.logo.one.url}}" alt="{{sitelogo.title}}">
    </div>
    <nav class="navbar-navigation">
        <ul class="nav-list">
            <li class="nav-list-item"><a href="{{siteUrl}}">Home</a></li>
            {% for link in header.navlinks.all() %}
                {% set destination = link.linkdestination.one() %}
                <li class="nav-list-item"><a href="{{ destination.url }}">{{ link.title }}</a></li>
            {% endfor %}
            
        </ul>
    </nav>
    <div class="navbar-buttons">
        <a href="{{siteUrl}}"><button type="button" class="navbar-button"><i class="fa-solid fa-user"></i></button></a>
        <a href="{{siteUrl}}"><button type="button" class="navbar-button"><i class="fa-solid fa-cart-shopping"></i></button></a>
    </div>
</header>