<footer class="footer" id="contact">
    <h1 class="footer-title">{{ footer.footertitle }}</h1>
    <div class="footer-contact">
        <ul class="footer-contact-list">
            <li class="footer-contact-list-item"><i class="fa-solid fa-phone"></i> {{ footer.phonenumber|slice(0,4) }} {{ footer.phonenumber|slice(4,2) }} {{ footer.phonenumber|slice(6,2) }} {{ footer.phonenumber|slice(8,2) }}</li>
            <li class="footer-contact-list-item"><i class="fa-solid fa-envelope"></i> {{ footer.email }}</li>
        </ul>
    </div>
    <h1 class="footer-title"><a class="footer-title-link" href="{{siteUrl}}"><i class="fa-solid fa-circle-arrow-up footer-icon"></i></a></h1>
</footer>